@import '~@angular/material/theming';

@mixin anmf-profile-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);

  anmf-profile {
    > .wrapper {
      background: mat-color($background, background);
    }
  }
}
