@import '~@angular/material/theming';

@mixin anmf-account-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  anmf-account {
    nav {
      background-color: mat-color($primary, lighter);

      .mat-tab-link {
        background-color: mat-color($accent);
        color: mat-color($accent, default-contrast);
      }
    }
  }
}
